body{
  background-image: url(../img/fondo.jpg);
}
#logo img{
  width: 200px;
  text-align: center;
  margin-top: 10px;
  border-radius: 100px;
  box-shadow: 3px 3px white;
}
#nav{
  margin-top: 2%;
  text-align: right;
  padding-right: 15px;

}
#slogan{
  color: rgb(216, 236, 223);
  text-align: left;
  margin-top: 20px;
}
#redes a img{
  width: 100%;
  border-radius: 30px;
  box-shadow: 3px 3px black;

}
.imgs img{
  width: 100%;
}
.texto{
  color: white;
  background-color: rgba(9, 13, 26, 0.84);
}
.texto img{
  width: 50%;
  margin-right: 10px;
}
.perfil{
  background-color: rgba(223, 238, 230, 0.53);
}
.perfil h5{
  text-align: center;
}
.perfil img{
  width: 50% ;
  margin: 5% 30% 10%;
}
@media (max-width:768px) and (min-width:600px) {
  #slogan{
    margin-left: 55px;
  }
}
@media (max-width:600px){
  #redes a img{
    width: 50px;
    padding: 10px;
  }
}
